﻿<h1>Admin Home</h1>

<a ui-sref=".carManage">Car Management</a> 
<a ui-sref=".carTypeManage">Car Type Management</a>
<a ui-sref=".driverManage">Driver Management</a>
<a ui-sref=".userManage">User Management</a>
<a ui-sref="login">Logout</a>

<div ui-view>
    
</div>