﻿
<div class="col-md-3"></div>

<div class="col-md-6">
    <form ng-submit="vm.add(vm.chauffeur)">

        <div class="form-inline">
            <div class="form-group">
                <label for="registrationNo">Chauffeur Name:</label>
                &nbsp;&nbsp;
                <input type="text" class="form-control" id="registrationNo" ng-model="vm.chauffeur.name"/>
            </div>
            
            <div class="form-group">
                <label for="registrationNo">License Number:</label>
                &nbsp;&nbsp;
                <input type="text" class="form-control" id="registrationNo" ng-model="vm.chauffeur.licenseNum"/>
            </div>
            
            <div class="form-group">
                <label for="registrationNo">Chauffeur Status</label>
                &nbsp;&nbsp;
                Status: <select class="form-control" ng-model="vm.chauffeur.status"
                                ng-options="types for types in vm.statusOptions"></select>
            </div>

            <br /> <br />

            <input type="submit" class="form-control" style="background: #2980B9" value="Add" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" style="background: #16A085; " class="form-control" ng-click="vm.reset()">Reset</button>
        </div>
    </form>
</div>

<div class="col-md-3"></div>









