﻿<h5 style="text-align: center"> Chauffeur Management </h5>

<div class="panel-heading">
    <div style="height: 30px;">

        <div class="col-md-4">

        </div>
        <div class="col-md-6">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a ui-sref=".list" style="color: #34495E">List</a>
            &nbsp;&nbsp;&nbsp;
            <a ui-sref=".add" style="color: #34495E">Add New </a>

        </div>
        <div class="col-md-2"></div>

    </div>
</div>


<div ui-view>

</div>