﻿<div class="col-md-3">
</div>

<div class="col-md-6">
    <table style="background: #1ABC9C; " class="table">
        <tr>
            <td> Chauffeur Name </td>
            <td> {{vm.test.name}} </td>
        </tr>
        <tr>
            <td> License Number </td>
            <td> {{vm.test.licenseNum}} </td>
        </tr>
        <tr>
            <td> Status </td>
            <td> {{vm.test.status}} </td>
        </tr>
    </table>
</div>


<div class="col-md-3">
</div>







