﻿

<div class="col-md-3"></div>

<div class="col-md-6">

    <table class="table">
        <tr>
            <td> <label> Chauffeur Name </label> </td>
            <td> <input type="text" class="form-control" ng-model="vm.chauffeur.name" /> </td>
        </tr>
        
        <tr>
            <td> <label> License Number </label> </td>
            <td> <input type="text" class="form-control" ng-model="vm.chauffeur.licenseNum" /> </td>
        </tr>
        
        <tr>
            <td> <label> Status </label> </td>
            <td> <select class="form-control" ng-model="vm.chauffeur.status"
                         ng-options="types for types in vm.statusOptions"></select> 
            </td>
        </tr>

        <tr>
            <td>
                <button class="btn btn-primary" ng-click="vm.update(vm.chauffeur.id,vm.chauffeur)">Update</button>
            </td>
            <td></td>
        </tr>

    </table>

</div>

<div class="col-md-3"></div>








