﻿
<table class="table">
    <tr>
        <td>Customer Name</td>
        <td>Contact Number</td>
        <td>Pick Up From</td>
        <td>Pick Up Date</td>
        <td>Pick Up Time</td>
        <td>Drop Off To</td>
        <td>Drop Off Date</td>
        <td>CDrop Off Time</td>
        <td>Fare</td>
        <td>Car Assigned To Service</td>
        <td>Driver Assigned TO Service</td>
        <td>Service Status</td>
    </tr>
    <tr ng-repeat="r in vm.requests">
        <td><a ui-sref="operatorHome.requestDetail({id:r.id})">{{r.customerName}}</a></td>
        <td>{{r.contactNumber}}</td>
        <td>{{r.pickUpFrom}}</td>
        <td>{{r.pickUpDate}}</td>
        <td>{{r.pickUpTime}}</td>
        <td>{{r.dropOffTo}}</td>
        <td>{{r.dropOffDate}}</td>
        <td>{{r.dropOffTime}}</td>
        <td>{{r.fare}}</td>
        <td>{{r.reservedCarId}}</td>
        <td>{{r.chauffeurId}}</td>
        <td>{{r.serviceStatus}}</td>
    </tr>
</table>