﻿
<div class="row">
    
    <div class="col-sm-6">
        
        <!-- Pick Up From -->
        <div class="form-group"
             ng-class="{'has-error':makeRequestForm.pickUpFrom.$invalid}">
            <label for="pickUpFrom">Pick-up Location</label>
            <textarea class="form-control"
                      ng-model="vm.rentRequest.pickUpFrom"
                      id="pickUpFrom"
                      name="pickUpFrom"
                      rows="3" required>
     
             </textarea>
        </div>
 
        <div class="row">
 
            <div class="col-sm-6">
                <div class="form-group"
                     ng-class="{'has-error':makeRequestForm.pickUpDate.$invalid}">
                    <label for="pickUpDate">Pick-up Date</label> <br />
                    <div class="input-group">
                        <input class="form-control"
                               id="pickUpDate"
                               name="pickUpDate"
                               type="text"
                               datepicker-popup="dd MMM, yyyy "
                               is-open="vm.opened"
                               ng-model="vm.rentRequest.pickUpDate"
                               required />
                        <span class="input-group-btn">
                            <button class="btn btn-default"
                                    ng-click="vm.open($event)">
                                <i class="glyphicon glyphicon-calendar"> </i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Pick-up Time</label>
                    <div class="input-group">
                        <timepicker 
                                    ng-model="vm.mytime1"
                                    ng-change="vm.changed1()"
                                    hour-step="vm.hstep"
                                    minute-step="vm.mstep"
                                    show-meridian="vm.ismeridian"
                                    required>

                        </timepicker>
                    </div>
                </div>
            </div>
            
        </div>        
        
    </div>
    
    <div class="col-sm-6">
       
        <div class="form-group"
             ng-class="{'has-error':makeRequestForm.dropOffTo.$invalid}">
            <label for="dropOffTo">Drop-off Location</label>
            <textarea class="form-control"
                      ng-model="vm.rentRequest.dropOffTo"
                      id="dropOffTo"
                      name="dropOffTo"
                      rows="3"
                      required>

             </textarea>
        </div>

        <div class="row">
            
            <div class="col-sm-6">
                <!-- Customer Name -->
                <div class="form-group"
                     ng-class="{'has-error':makeRequestForm.dropOffDate.$invalid}">
                    <label for="dropOffDate">Drop-off Date</label> <br />
                    <div class="input-group">
                        <input class="form-control"
                               id="dropOffDate"
                               name="dropOffDate"
                               type="text"
                               datepicker-popup="dd MMM, yyyy "
                               is-open="vm.opened"
                               ng-model="vm.rentRequest.dropOffDate"
                               required />
                        <span class="input-group-btn">
                            <button class="btn btn-default"
                                    ng-click="vm.open($event)">
                                <i class="glyphicon glyphicon-calendar"> </i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="pickUpTime">Drop-off Time</label>
                    <div class="input-group">
                          <timepicker ng-model="vm.mytime2" ng-change="vm.changed2()" hour-step="vm.hstep" minute-step="vm.mstep" show-meridian="vm.ismeridian"></timepicker>                        
                    </div>                   
                </div>
            </div>
      
        </div>

    </div>
    
</div>    









    

