﻿
<div class="col-md-2">

</div>

<div class="col-md-8">
    <div class="todo">
        <div class="todo-search">
            <input class="todo-search-field" type="search" value="" placeholder="Search">
        </div>
        <ul>
            <li ng-repeat="r in vm.rentRequests" class="todo-done">
                <div class="todo-icon fui-list"></div>
                <div class="todo-content">
                    <h4 class="todo-name">

                        <div class="col-md-8">
                            <a ui-sref="rentRequest.detail({id:r.id})">
                                Passenger Name: &nbsp;{{r.customerName}} <br /> <br />
                                <span>Contact: {{r.contactNumber}} </span> <br /> <br />
                                <span> Status: {{r.serviceStatus}}</span>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a class="btn btn-warning" ui-sref="rentRequest.edit({id:r.id})"><span class=" fui-new"></span></a>
                            <button class="btn btn-danger" ng-click="vm.remove(r.id,$index)"><span class="fui-cross"></span></button>
                        </div>
                    </h4>
                </div>
            </li>
        </ul>
    </div><!-- /.todo -->
</div>

<div class="col-md-2">

</div>


<!--<table class="table">
    <tr>
        <td>Customer Name</td>
        <td>Contact Number</td>
        <td>Pick Up From</td>
        <td>Pick Up Date</td>
        <td>Pick Up Time</td>
        <td>Drop Off To</td>
        <td>Drop Off Date</td>
        <td>Drop Off Time</td>
        <td>Service Status</td>
        <td>Operations</td>
    </tr>
    <tr ng-repeat="r in vm.rentRequests">
        <td><a ui-sref="rentRequest.detail({id:r.id})">{{r.customerName}}</a></td>
        <td>{{r.contactNumber}}</td>
        <td>{{r.pickUpFrom}}</td>
        <td>{{r.pickUpDate | date:'yyyy-MM-dd'}}</td>
        <td>{{r.pickUpTime | date: 'h:mm a'}}</td>
        <td>{{r.dropOffTo}}</td>
        <td>{{r.dropOffDate | date:'yyyy-MM-dd'}}</td>
        <td>{{r.dropOffTime | date: 'h:mm a'}}</td>
        <td>{{r.serviceStatus}}</td>
        <td>
            <a ui-sref="rentRequest.edit({id:r.id})"><span class="fui-new"></span></a>
            <input type="button" ng-click="vm.remove(r.id,$index)" class="btn btn-success" value="Cancel" />
            <a role="button" ng-click="vm.remove(r.id,$index)"><span class="fui-cross"></span></a>
        </td>
    </tr>
</table>-->

