﻿
<form name="makeRequestForm" ng-submit="vm.addRequest(vm.rentRequest)" novalidate>
   <div style="height: 430px;" class=" panel panel-default">

        <div class="panel-heading">
            <div style="height: 30px;" class="panel-title text-left">
                <a ui-sref="home"><span class="fui-home"></span></a> &nbsp;
                &nbsp;&nbsp;

                <a ui-sref=".personalDetail" style="padding-bottom: 9px;" class="btn btn-primary">Personal Detail</a> 
                &nbsp;&nbsp;&nbsp;

                <a ui-sref=".dateTime" style="padding-bottom: 9px" class="btn btn-primary">Date & Time</a>

            </div>
        </div>

        <div style="height: 320px;" class="panel-body">
            <!--<form role="form" novalidate="">-->
            <div ui-view>

            </div>
            <!--</form>-->
        </div>
        <div class="panel-footer">
            <!-- Button To Make Some Action -->
            <button type="submit"
                    class="btn btn-success"
                    ng-disabled="makeRequestForm.$invalid">
                Ask for Hire
            </button>
            <a ui-sref="home" class="btn btn-warning pull-right"><span class="fui-arrow-left"></span> Reset</a>
        </div>

    </div>
</form>









