﻿
<div class="row">
    <div class="col-sm-6">
        
        <!-- Customer Name -->
        <div class="form-group"
             ng-class="{'has-error':makeRequestForm.customerName.$invalid}">

            <label for="customerName">Customer Name</label>
            <input type="text"
                   ng-model="vm.rentRequest.customerName"
                   placeholder="Passenger Name (required)"
                   id="customerName"
                   name="customerName"
                   class="form-control"
                   required>

        </div>
                
        <!-- Contact Number -->
        <div class="form-group"
             ng-class="{'has-error':makeRequestForm.contactNumber.$invalid}">
            <label for="contactNumber">Contact Number</label>
            <input type="textr"
                   ng-model="vm.rentRequest.contactNumber"
                   id="contactNumber"
                   name="contactNumber"
                   class="form-control"
                   ui-mask="99999999999 (required)"
                   required>
        </div>     
                   
    </div>
</div>




    
 

    


