﻿
<div class="row">
    
    <div class="col-md-3">

    </div>

    <div class="col-md-6">
        <table style="background: #1ABC9C; " class="table">
            <tr>
                <td>Customer Name</td>
                <td> {{vm.rentRequest.customerName}} </td>
            </tr>
            <tr>
                <td>Contact Number</td>
                <td> {{vm.rentRequest.contactNumber}} </td>
            </tr>
            <tr>
                <td>Pick Up From</td>
                <td> {{vm.rentRequest.pickUpFrom}} </td>
            </tr>
            <tr>
                <td>Pick Up Date</td>
                <td> {{vm.rentRequest.pickUpDate | date:'fullDate'}} </td>
            </tr>
            <tr>
                <td>Pick Up Time</td>
                <td> {{vm.rentRequest.pickUpTime | date:'shortTime' }} </td>
            </tr>
            <tr>
                <td>Drop Off To</td>
                <td> {{vm.rentRequest.dropOffTo}} </td>
            </tr>
            <tr>
                <td>Drop Off Date</td>
                <td> {{vm.rentRequest.dropOffDate | date:'fullDate' }} </td>
            </tr>
            <tr>
                <td>Drop Off Time</td>
                <td> {{vm.rentRequest.dropOffTime | date:'shortTime' }} </td>
            </tr>
            <tr>
                <td>Plate Number of Service Car</td>
                <td> {{vm.assignCar.registrationNo}} </td>
            </tr>
            <tr>
                <td>Brand Name  of Service Car</td>
                <td> {{vm.assignCar.brandName}} </td>
            </tr>
            <tr>
                <td>Model Name  of Service Car</td>
                <td> {{vm.assignCar.modelName}} </td>
            </tr>
            <tr>
                <td>Chauffeur on Service</td>
                <td> {{vm.chauffeurName.name}} </td>
            </tr>
            <tr>
                <td>Fare of The Service</td>
                <td> {{vm.rentRequest.serviceStatus}} </td>
            </tr>
            <tr>
                <td>Service Status</td>
                <td> {{vm.rentRequest.fare}} </td>
            </tr>
        </table>
    </div>

    <div class="col-md-3">

    </div>
    
</div>

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-5">
        <a ui-sref="rentRequest.list">
            <span class="fui-arrow-left"></span> Back
        </a>
    </div>
    <div class="col-md-2"></div>
</div>







