﻿
<div class="row">
    
    <div class="panel-heading">
        <div style="height: 30px;" class="panel-title text-left">
            <a style="padding: 6px; background: #c3e6fc; " ui-sref="login" class="btn btn-default pull-right">
                <span class="fui-user"></span> Logout
            </a>
        </div>                                 
    </div>

    <div ui-view>

    </div>
    
</div>



   
  
   

