﻿
<div class="row">
    <div class="col-md-12">
        <h6 style="text-align: center">Edit Information</h6> 
    </div>
</div>

<br/>

<div class="form-inline">
    
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="customerName">Customer Name</label>
                <input type="text" ng-model="vm.rentRequest.customerName" id="customerName" class="form-control" placeholder="Text input">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="contactNumber">Contact Number</label>
                <input type="text" ng-model="vm.rentRequest.contactNumber" id="contactNumber" class="form-control" placeholder="Text input">
            </div>
        </div>
    </div>    
    
    <br/>
    
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="pickUpDate">Pick-up Date</label> <br />
                <div class="input-group">
                    <input class="form-control"
                           id="inputAvailabilityDate"
                           type="text"
                           datepicker-popup="dd MMM, yyyy "
                           is-open="vm.opened"
                           ng-model="vm.rentRequest.pickUpDate" />
                    <span class="input-group-btn">
                        <button class="btn btn-default"
                                ng-click="vm.open($event)">
                            <i class="glyphicon glyphicon-calendar"> </i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="pickUpTime">Pick-up Time</label>
                <div class="input-group">

                    <timepicker ng-model="vm.mytime1" ng-change="vm.changed1()" hour-step="vm.hstep" minute-step="vm.mstep" show-meridian="vm.ismeridian"></timepicker>

                </div>
            </div>
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="pickUpDate">Drop-off Date</label> <br />
                <div class="input-group">
                    <input class="form-control"
                           id="inputAvailabilityDate"
                           type="text"
                           datepicker-popup="dd MMM, yyyy "
                           is-open="vm.opened"
                           ng-model="vm.rentRequest.dropOffDate" />
                    <span class="input-group-btn">
                        <button class="btn btn-default"
                                ng-click="vm.open($event)">
                            <i class="glyphicon glyphicon-calendar"> </i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="pickUpTime">Drop-off Time</label>
                <div class="input-group">

                    <timepicker ng-model="vm.mytime2" ng-change="vm.changed2()" hour-step="vm.hstep" minute-step="vm.mstep" show-meridian="vm.ismeridian"></timepicker>

                </div>
            </div>
        </div>
    </div>   
    
                 
    <div class="row">
        <div class="col-md-6">
            Plate Number of Service Car <select class="form-control" ng-model="vm.rentRequest.reservedCarId"
                                                 ng-options="c.id as c.brandName for c in vm.cars"></select>
        </div>
        
        <div class="col-md-6">
            <div>
                Chauffeur on Service <select class="form-control" ng-model="vm.rentRequest.chauffeurId"
                                              ng-options="c.id as c.name for c in vm.chauffeurs"></select>
            </div>
        </div>                                
    </div>
    
    <br/>
    
    <div class="row">
        <div class="col-md-6">
            Service Status <select class="form-control" ng-model="vm.rentRequest.serviceStatus"
                                   ng-options="c for c in vm.statusType"></select>
        </div>
        <div class="col-md-6">
            <div>
                Service Fare <input class="form-control" type="number" ng-model="vm.rentRequest.fare" />
            </div>
        </div>
    </div>
    
    <br/>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-warning" ng-click="vm.update(vm.rentRequest.id,vm.rentRequest)">Update</button>
        </div>       
    </div>

</div>  




