﻿
<div class="col-md-3"></div>

<div class="col-md-6">
    <form ng-submit="vm.add(vm.user)">

        <div class="form-inline">
            <div class="form-group">
                <label for="registrationNo">User Name</label>
                &nbsp;&nbsp;
                <input type="text" class="form-control" id="registrationNo" ng-model="vm.user.userName"/>
            </div>

            <div class="form-group">
                <label for="registrationNo">Password</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" class="form-control" id="registrationNo" ng-model="vm.user.password" />
            </div>

            <div class="form-group">
                <label for="registrationNo">User Type</label>
                &nbsp;&nbsp;
                <select class="form-control" ng-model="vm.user.userType">
                    <option value="Admin">Admin</option>
                    <option value="Operator">Operator</option>
                </select>
            
            </div>

            <br /> <br />

            <input type="submit" class="form-control" style="background: #2980B9" value="Add" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" style="background: #16A085; " class="form-control" ng-click="vm.reset()">Reset</button>
        </div>
    </form>
</div>

<div class="col-md-3"></div>









