﻿
<div class="col-md-3">
</div>

<div class="col-md-6">
    <table style="background: #1ABC9C; " class="table">
        <tr>
            <td> User Name </td>
            <td> {{vm.test.userName}} </td>
        </tr>
        <tr>
            <td> Password </td>
            <td> {{vm.test.password}} </td>
        </tr>
        <tr>
            <td> User Type </td>
            <td> {{vm.test.userType}} </td>
        </tr>
    </table>
</div>


<div class="col-md-3">
</div>







