﻿


<div class="col-md-3"></div>

<div class="col-md-6">

    <table class="table">
        <tr>
            <td> <label> User Name </label> </td>
            <td> <input type="text" class="form-control" ng-model="vm.test.userName" /> </td>
        </tr>

        <tr>
            <td> <label> Password </label> </td>
            <td> <input type="password" class="form-control" ng-model="vm.test.password" /> </td>
        </tr>

        <tr>
            <td> <label> User Type </label> </td>
            <td>
                <select class="form-control" ng-model="vm.test.userType">
                    <option value="Admin">Admin</option>
                    <option value="Operator">Operator</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>
                <button class="btn btn-primary" ng-click="vm.update(vm.test.id,vm.test)">Update</button>
            </td>
            <td></td>
        </tr>

    </table>

</div>

<div class="col-md-3"></div>




