﻿
<div class="col-md-2">

</div>

<div class="col-md-8">
    <div class="todo">
        <div class="todo-search">
            <input class="todo-search-field" type="search" value="" placeholder="Search">
        </div>
        <ul>
            <li ng-repeat="c in vm.users" class="todo-done">
                <div class="todo-icon fui-list"></div>
                <div class="todo-content">
                    <h4 class="todo-name">

                        <div class="col-md-8">
                            <a ui-sref="admin.user.detail({id:c.id})">
                                Name: {{c.userName}} <br /> <br />
                                <span> User Type: {{c.userType}}</span>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a class="btn btn-warning" ui-sref="admin.user.edit({id:c.id})"><span class="fui-new"></span></a>
                            <button class="btn btn-danger" ng-click="vm.remove(c.id,$index)"><span class="fui-cross"></span></button>
                        </div>
                    </h4>
                </div>
            </li>
        </ul>
    </div><!-- /.todo -->
</div>

<div class="col-md-2">

</div>

<!--<ul>
    <li ng-repeat="c in vm.users">
        <a ui-sref="admin.user.detail({id:c.id})"> {{c.userName}} </a> <a ui-sref="admin.user.edit({id:c.id})">Edit</a> <button ng-click="vm.remove(c.id,$index)">Remove</button>
        <br/>  <a ng-href="#/admin/user/detail/{{c.id}}"> {{c.userName}} </a> 
    </li>
</ul>-->