﻿
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <div style="height: 300px; width: 600px;">

            <div style="height: 50px; width: 600px; background: #20B2AA; " class="panel-heading">
                <a style="padding: 6px; background: #2C3E50; " ui-sref="login" class="btn btn-default pull-right">
                    <span class="fui-user"></span> Login
                </a>
            </div>

            <div style="height: 250px; width: 600px; background: #F0F8FF; " class="panel-body">
                <div>
                    <carousel interval="vm.myInterval">
                        <slide ng-repeat="slide in vm.slides" active="slide.active">
                            <img height="50" ng-src="{{slide.image}}" style="margin:auto;">
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<br/>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div style="width: 600px;">
            <a style="color: #2C3E50" ui-sref="makeRequest.personalDetail">
                <span class="fui-plus-circle"></span> &nbsp; গাড়ি বুক করতে এখানে ক্লিক করুন
            </a>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>


