﻿
<div class="col-md-3"></div>

<div class="col-md-6">
    <div style="height: 340px;" class=" panel panel-default">

        <div style="background: #E74C3C; " class="panel-heading">
            <div style="height: 30px;" class="panel-title text-left">
                <a ui-sref="home"><span class="fui-home"></span></a>

                &nbsp;&nbsp;&nbsp;
                <span>Login</span>

            </div>
        </div>

        <div style="height: 280px; background: #2C3E50" class="panel-body">
            <div class="form-horizontal">
                <div  class="login-form">
                    <div class="form-group">
                        <label for="customerName">Login Name</label>
                        <input type="text" ng-model="vm.user.userName" id="customerName" class="form-control" placeholder="Text input">
                    </div>
                    <div class="form-group">
                        <label for="customerName">Password</label>
                        <input type="password" ng-model="vm.user.password" id="customerName" class="form-control" placeholder="Text input">
                    </div>
                </div>

            </div>
        </div>

        <div style="height: 50px; background: #1ABC9C; " class="panel-footer">
            <!-- Button To Make Some Action -->
            <a role="button" style="color: #2C3E50;" ng-click="vm.makeLogin(vm.user)">Login</a>

            <a style="color: #2C3E50;" ui-sref="home" class="pull-right"><span class="fui-arrow-left"></span> Back</a>

        </div>

    </div>
</div>

<div class="col-md-3"></div>
