﻿
<div class="col-md-3"></div>

<div class="col-md-6">
    <form ng-submit="vm.add(vm.carType)">
        
        <div class="form-inline">
            <div class="form-group">
                <label for="registrationNo">Car Type Name</label>
                &nbsp;&nbsp;
                <input type="text" class="form-control" id="registrationNo" ng-model="vm.carType.name"/>
            </div>
            
            <br/> <br/>
            
            <input type="submit" class="form-control" style="background: #2980B9" value="Add"/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" style="background: #16A085; " class="form-control" ng-click="vm.reset()">Reset</button> 
        </div>                     
    </form>
</div>

<div class="col-md-3"></div>

