﻿<div class="col-md-3">
</div>

<div class="col-md-6">
    <table style="background: #1ABC9C; " class="table">
        <tr>
            <td> Car Type </td>
            <td> {{vm.test.name}} </td>
        </tr>        
    </table>
</div>


<div class="col-md-3">
</div>






