﻿
<div class="col-md-3"></div>

<div class="col-md-6">

    <table class="table">
        <tr>
            <td> <label>Registration No. </label> </td>
            <td> <input type="text" class="form-control" ng-model="vm.carType.name"/> </td>
        </tr>
       
        <tr>
            <td>
                <button class="btn btn-primary" ng-click="vm.update(vm.carType.id,vm.carType)">Update</button>
            </td>
            <td></td>
        </tr>

    </table>

</div>

<div class="col-md-3"></div>



