﻿
<div class="col-md-2">

</div>

<div class="col-md-8">
    <div class="todo">
        <div class="todo-search">
            <input class="todo-search-field" type="search" value="" placeholder="Search">
        </div>
        <ul>
            <li ng-repeat="c in vm.carTypes" class="todo-done">
                <div class="todo-icon fui-list"></div>
                <div class="todo-content">
                    <h4 class="todo-name">

                        <div class="col-md-8">
                            <a ui-sref="admin.carType.detail({id:c.id})">
                                Type:&nbsp; {{c.name}} <br /> <br />                                
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a class="btn btn-warning" ui-sref="admin.carType.edit({id:c.id})"><span class="fui-new"></span></a>
                            <button class="btn btn-danger" ng-click="vm.remove(c.id,$index)"><span class="fui-cross"></span></button>
                        </div>
                    </h4>
                </div>
            </li>
        </ul>
    </div><!-- /.todo -->
</div>

<div class="col-md-2">

</div>



