﻿
<div class="panel-heading">
    <div style="height: 30px;" class="panel-title text-left">
        
        <a ui-sref="admin.car.list"><span class="fui-home"></span></a> &nbsp;
        
        &nbsp;&nbsp;&nbsp;
        
        <a style="color: #C0392B" ui-sref=".car.list">Car Management</a> &nbsp;&nbsp;&nbsp;
        <a style="color: #2980B9" ui-sref=".carType.list">Car Type Management</a> &nbsp;&nbsp;&nbsp;
        <a style="color: #8E44AD" ui-sref=".user.list">User Management</a> &nbsp;&nbsp;&nbsp;
        <a style="color: #8C001A; " ui-sref=".chauffeur.list">Chauffeur Management</a> &nbsp;&nbsp;&nbsp;

        <a style="padding: 6px; background: #c3e6fc; " ui-sref="login" class="btn btn-default pull-right">
            <span class="fui-user"></span> Logout
        </a>
    </div>
</div>


<div ui-view>
    
</div>