@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?9ly5fi');
	src:url('fonts/icomoon.eot?#iefix9ly5fi') format('embedded-opentype'),
		url('fonts/icomoon.ttf?9ly5fi') format('truetype'),
		url('fonts/icomoon.woff?9ly5fi') format('woff'),
		url('fonts/icomoon.svg?9ly5fi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-SUV-512:before {
	content: "\e600";
}
