﻿<div class="col-md-3"></div>

<div class="col-md-6">
    <form ng-submit="vm.add(vm.car)">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="registrationNo">Registration Number</label> 
                <input type="text" class="form-control" id="registrationNo" ng-model="vm.car.registrationNo" />
            </div>

            <div class="form-group">
                <label for="registrationNo">Brand Name</label> 
                <input type="text" class="form-control" id="registrationNo" ng-model="vm.car.brandName" />
            </div>

            <div class="form-group">
                <label for="registrationNo">Model Name</label> 
                <input type="text" class="form-control" id="registrationNo" ng-model="vm.car.modelName" />
            </div>
            
            <div class="form-group">
                <label for="registrationNo">Car Type</label>
                <select class="form-control" ng-model="vm.car.carTypeId"
                        ng-options="c.id as c.name for c in vm.carTypes"></select>
            </div>
            
            <button type="submit" class="btn btn-success"><span class="fui-plus"></span> &nbsp; Add</button> 
            <button type="button" class="btn btn-danger pull-right" ng-click="vm.reset()"><span class="fui-list-large-thumbnails"></span>&nbsp; Reset</button>

        </div>
    </form>
</div>

<div class="col-md-3"></div>    