﻿
<div class="col-md-3">
    
</div>

<div class="col-md-6">
    <table style="background: #1ABC9C; " class="table">
        <tr>
            <td>Registration Number</td>
            <td> {{vm.car.registrationNo}} </td>
        </tr>
        <tr>
            <td>Model Name</td>
            <td> {{vm.car.modelName}} </td>
        </tr>
        <tr>
            <td>Brand Name</td>
            <td> {{vm.car.brandName}} </td>
        </tr>
        <tr>
            <td>Car Type</td>
            <td> {{vm.car.carTypeId}} </td>
        </tr>
    </table>
</div>

<div class="col-md-3">

</div>








