﻿
<div class="col-md-3"></div>

<div class="col-md-6">
    
    <table class="table">
        <tr>
            <td> <label>Registration No. </label> </td>
            <td> <input type="text" class="form-control" ng-model="vm.car.registrationNo"/> </td>
        </tr>
        <tr>
            <td> Brand Name Name</td>
            <td> <input class="form-control" type="text" ng-model="vm.car.brandName" /> </td>
        </tr>
        <tr>
            <td> Model Name </td>
            <td> <input class="form-control" type="text" ng-model="vm.car.modelName" /> </td>
        </tr>
        <tr>
            <td>Car Type</td>
            <td>
                <select class="form-control" ng-model="vm.car.carTypeId"
                        ng-options="c.id as c.name for c in vm.carTypes"></select>
            </td>
        </tr>
        
        <tr>
            
            <td>
                <button  class="btn btn-primary" ng-click="vm.update(vm.car.id,vm.car)">Update</button>
            </td>
            <td></td>
        </tr>
 
    </table>
                    
</div>

<div class="col-md-3"></div>
